.my-btn2{
    background-color: blue;
            color: aliceblue;
            padding: 0%;
            border: 0cap;
}
.try{
    background-color: rgb(11, 232, 169);
            color: rgb(255, 251, 240);
            padding: 10px 5px;
            border: 0cap;

}
.me{
    background-color: rgb(11, 232, 169);
    color: rgb(255, 251, 240);
    padding: 10px 5px;
    border: 0cap;


}